@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("./assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Courier";
  src: url("./assets/cour.ttf");
}

@font-face {
  font-family: "Minecraft";
  src: url("./assets/Minecraft.ttf");
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Chrome and Safari */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #000; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #49fb34; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #000; /* creates padding around scroll thumb */
}

@media (min-width: 768px) {
  .md\:hide-scrollbar {
    @apply hide-scrollbar;
  }
}
